/* Стили для булевых иконок */
.boolean-icon {
    height: 20px;
}

  /* Стили для таблицы */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #f4f9fc;
}

th, td {
    padding: 8px;
    text-align: left;
}

th:first-child {
    padding-right: 50px;
}

th {
    background-color: white;
}

td:first-child {
    font-weight: normal;
    color: #A4A9B9;
    font-size: 18px;
}

tbody tr:not(:first-child) td {
    border-top: 1px solid #cdcfd2;
}